<!DOCTYPE html>
<html ng-app="bazarsoo">
<head>

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#f2ede0">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#f2ede0">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#f2ede0">


    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <!-- This is a wide open CSP declaration. To lock this down for production, see below. -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *" />
    <!-- Good default declaration:
    * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
    * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
    * Disables use of eval() and inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
        * Enable eval(): add 'unsafe-eval' to default-src
    * Create your own at http://cspisawesome.com
    -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 'unsafe-inline' https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *" /> -->
    <link href="vendors/bower_components/reset-css/reset.css" rel="stylesheet" />
    <link href="vendors/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="vendors/bower_components/angular/angular-csp.css" rel="stylesheet" />
    <link href="css/app.css?ran=3" rel="stylesheet" />

    <title>Bazarsoo</title>

</head>
<body>

    <header></header>


    <ng-view></ng-view>
    <div ng-controller="authController" id="auth" ng-show="showAuth" ng-init="showForm = 'login'">

        <div class="inner">
            <form ng-show="showForm == 'login'" name="loginForm">
                <h2>
                    ورود به اکانت
                </h2>

                <div class="input-group">
                    <i class="fa fa-at"></i>
                    <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="loginModel.userName" />
                </div>

                <div class="input-group">
                    <i class="fa fa-key"></i>
                    <input name="password" type="password" required placeholder="رمز عبور" ng-model="loginModel.password" />
                </div>
                <div class="error rtl" ng-hide="!error">
                    ایمیل و یا رمز وارد شده صحیح نمی باشد .
                </div>
                <button ng-disabled="!loginForm.$valid" class="login" ng-click="login()">
                    ورود
                </button>
                <div class="links">

                    <a class="register" ng-click="showForm = 'register'">
                        عضویت
                    </a>
                    |
                    <a class="forgot" ng-click="showForm = 'forgot'">
                        فراموشی رمز عبور
                    </a>

                </div>
            </form>
            <form ng-show="showForm == 'register'" name="registerForm">
                <h2>
                    عضویت
                </h2>


                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input name="name" type="text" required placeholder="نام شخص / نام شرکت" ng-model="registerModel.name" />
                </div>

                <div class="input-group">
                    <i class="fa fa-phone"></i>
                    <input name="phone" type="text" required placeholder="شماره همراه" ng-model="registerModel.phone" />
                </div>


                <div class="input-group">
                    <i class="fa fa-at"></i>
                    <input name="email" type="email" required placeholder="آدرس ایمیل" ng-model="registerModel.email" />
                </div>

                <div class="input-group">
                    <i class="fa fa-key"></i>
                    <input name="password" type="password" required placeholder="رمز عبور" ng-model="registerModel.password" />
                </div>



                <button ng-disabled="!registerForm.$valid" class="register" ng-click="register()">
                    عضویت
                </button>
                <div class="links">

                    <a class="login" ng-click="showForm = ('login')">
                        ورود
                    </a>
                    |
                    <a class="forgot" ng-click="showForm = ('forgot')">
                        فراموشی رمز عبور
                    </a>

                </div>
            </form>
        </div>
    </div>
    <footer>
        <nav>
          
            <ul>
                
                <li class="{{location.path() == '/home' || location.path() == '/product' ? 'active':''}}">
                    <a ng-click="setLocation('home')">
                        <div class="logo"></div>
                    </a>
                </li>

                <li class="{{location.path() == '/search' ? 'active':''}}">
                    <a ng-click="setLocation('search')">
                        <i class="fa fa-search"></i>
                    </a>
                </li>

                <li class="{{location.path() == '/chat' ? 'active':''}}">
                    <a ng-click="setLocation('chat')">

                        <i class="fa fa-comment-o"></i>
                    </a>
                </li>
                <li class="logout {{location.path() == '/account' ? 'active':''}}">
                    <a ng-click="setLocation('account')">
                        <i class="fa fa-user-o"></i>
                    </a>
                </li>
            </ul>
         
        </nav>
        <div class="clearfix"></div>

    </footer>

    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>


    <script type="text/javascript" src="cordova.js"></script>

    <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bower_components/signalr/jquery.signalR.js"></script>

    <script src="vendors/bower_components/moment/min/moment.min.js"></script>
    <script src="vendors/bower_components/underscore/underscore-min.js"></script>
    <script src="vendors/bower_components/angular/angular.js"></script>
    <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="vendors/bower_components/angular-route/angular-route.min.js"></script>
    <script src="vendors/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>


</body>
</html>