
<div id="chat-page">

    <div ng-init="showDiscussion = true" ng-show="activeContact" class="toggle-box">

        <a class="{{showDiscussion == false ? 'active' : ''}}" ng-click="showDiscussion = false">
            انتخاب کالا
        </a>

        <a class="{{showDiscussion ? 'active' : ''}}" ng-click="showDiscussion = true">
            متن گفت و گو
        </a>

        <div class="clearfix"></div>

    </div>


    <div ng-show="activeContact">

        <div class="selectProducts" ng-hide="showDiscussion" ng-init="showChoose = false">

            <button ng-show="showChoose == false" ng-click="showChoose = true">
                افزودن کالا
            </button>

            <button ng-show="showChoose" ng-click="showChoose = false">
                اتمام انتخاب
            </button>

            <div class="product product-choose" ng-click="chooseProduct(item)" ng-show="showChoose == true" ng-repeat="item in activeContact.products">

                <img ng-src="http://bazarsoo.com{{item.image}}" />

                <div class="name"> {{item.name}}</div>

                <div ng-show="isInAgreements(item)" class="checked">
                    <i class="fa fa-check"></i>
                </div>


            </div>


            <div class="product" ng-show="showChoose == false" ng-repeat="item in activeContact.agreements">

                <img ng-src="http://bazarsoo.com{{item.product.image}}">
                <div class="name">{{item.product.name}}</div>
                <form class="price-agreement">
                    <div class="input-group">
                        <label> قیمت واحد (تومان)</label>
                        <span class="titler" ng-show='focusOn == "price"'>
                            {{item.price | currency : '':0}}
                        </span>
                        <input type="text" ng-focus="focusOn = 'price'" ng-blur="focusOn = ''" class="price money-input" ng-readonly="agreementWaiting(item)" ng-model="item.price" placeholder="قیمت توافقی">
                    </div>
                    <div class="input-group">
                        <label> تعداد </label>
                        <span class="titler" ng-show='focusOn == "count"'>
                            {{item.count | currency : '':0}}
                        </span>
                        <input type="text" ng-focus="focusOn = 'count'" ng-blur="focusOn = ''" class="count money-input" ng-readonly="agreementWaiting(item)" ng-model="item.count" min="1" placeholder="تعداد">
                    </div>
                    <div class="input-group">
                        <label> قیمت کل (تومان)</label>
                        <span class="titler" ng-show='focusOn == "total"'>
                            {{item.count *item.price | currency : '':0}}
                        </span>
                        <input type="text" readonly  value="{{item.count * item.price}}" ng-blur="focusOn = ''" ng-focus="focusOn = 'total'"  class="priceTotal money-input" placeholder="قیمت توافقی">
                    </div>
                    <div class="buttons">
                        <button class="agree">


                            <span ng-click="agreePrice(item)" ng-hide="agreementWaiting(item)"> پیشنهاد قیمت</span>

                            <span ng-show="agreementWaiting(item)" ng-click="refreshAgreemnet(item)">
                                در انتظار تایید

                                <small>  (برای تغییر پیشنهاد کلیک کنید)</small>
                            </span>

                        </button>
                        <button ng-click="chooseProduct(item.product)" class="delete">حذف</button>
                    </div>
                </form>
            </div>

        </div>
        <div ng-show="showDiscussion">

            <div id="discussion" class="chat-message-content">

                <div class="header">

                    <div class="username">
                        <img src="http://bazarsoo.com/Plugins/Vitrin/Repository/Images/defaultIcon.png" />
                        <div ng-click="location.hash('')" class="back">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                        {{activeContact.username}}
                    </div>

                    <div class="options" ng-init="showOptions = false">
                        <i class="fa fa-bars" ng-click="showOptions = !showOptions">
                        </i>

                        <ul ng-show="showOptions">
                            <li>
                                <a id="delete-chat" ng-click="deleteChat()" class="">

                                    <span>   حذف  گفت و گو</span>
                                </a>
                            </li>
                            <li>
                                <a id="report-chat" ng-click="reportChat()">

                                    <span>    گزارش سوء استفاده</span>
                                </a>
                            </li>
                            <li>
                                <a id="block-chat" ng-click="blockChat()" class="">
                                    <span>         مسدود سازی کاربر</span>
                                </a>


                            </li>

                        </ul>
                    </div>

                    <div class="clearfix"></div>

                </div>


                <ul>
                    <li class="{{item.FromUserId == activeContact.userid ? 'reciver':'sender'}} {{item.Status == 2 ? 'seen' :'sent' }}" ng-show="item.MessageDescrp != '<#start#>'" ng-repeat="item in activeContact.messages | orderChatMessages" dir="auto">

                        <p ng-if="!item.FileAttachmentUrl">
                            {{item.MessageDescrp}} 
                        </p>
                        <img ng-if="item.FileAttachmentUrl && isImage(item.FileAttachmentUrl)" ng-src="{{apiBase + item.FileAttachmentUrl}}?width=300" />
                        <a class="external" ng-if="item.FileAttachmentUrl" ng-href="{{apiBase + item.FileAttachmentUrl}}">
                            دانلود ضمیمه
                        </a>

                    </li>
                </ul>

                <div class="clear"></div>

            </div>
            <div class="input-box">

                <textarea ng-model="input" ng-class="'line-' + (input.split('\n').length )" placeholder="پیام شما"></textarea>

                <div class="send-button" ng-click="sendMessage(activeContact)">

                    <i class="fa fa-send">

                    </i>

                </div>

                <div class="attach-button">

                    <input type="file" id="attach-file" />

                    <i class="fa fa-paperclip">

                    </i>

                </div>

            </div>
        </div>
    </div>
    <div class="contact-wrapper" ng-hide="activeContact">
        <h1>
            گفت و گوی برخط
        </h1>

        <ul class="contacts">

            <li ng-repeat="item in contacts | orderContacts | filter:searchModel" ng-click="location.hash(item.userid)">
                <img src="http://bazarsoo.com/Plugins/Vitrin/Repository/Images/defaultIcon.png" />
                <div class="info">
                    <input dir="auto" readonly="" title="{{item.username}}" type="text" value="{{item.username}}" class="name">
                    <span class="preview">{{item.preview}}</span>
                    <span class="date">{{item.date}}</span>
                    <span class="count" ng-show="item.count !=0 ">{{item.count}}</span>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>

        <div class="clearfix"></div>
        <div class="search-box">
            <input type="text" ng-model="searchModel" />
            <div class="search-button">

                <i class="fa fa-search">

                </i>

            </div>

        </div>

    </div>

</div>
