<div id="home">

    <div class="v-column" ng-repeat="column in columns">
        
        <div class="v-block v-h-{{vitrin.BlockCount}}" ng-repeat="vitrin in column">

         
            <div class="inner" style="background-image:url('{{vitrin.BannerImage}}')">


                <div class="more">
                    <div class="icon icon-1">
                       <i class="fa fa-comment"></i>
                    </div>
                    <div class="icon icon-2">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="icon icon-3">
                        <i class="fa fa-heart"></i>
                    </div>
                   
                </div>

            </div>

        </div>

    </div>
  

</div>