<div id="search-page">

    <div class="toggle-box">

        <a ng-click="searchMode = 'vitrins'" class="{{searchMode == 'vitrins' ? 'active':''}}">
            ویترین
        </a>

        <a ng-click="searchMode = 'products'" class="{{searchMode == 'products' ? 'active':''}}">
            محصول
        </a>
        <div class="clearfix"></div>
    </div>

    <div id="search-result" ng-show="searchMode == 'products'">
        <div ng-show="suggestions" class="suggestions">
            <ul>
                <li ng-repeat="item in suggestions">
                    <a ng-click="searchWords.push(item)">{{item}}</a>
                </li>
            </ul>
        </div>
        <ng-include src="'/views/_productColumns.html'"></ng-include>

    </div>

    <div id="search-result" ng-show="searchMode == 'vitrins'">

        <ng-include src="'/views/_vitrinColumns.html'"></ng-include>

    </div>

    <div class="search-box">
        <div ng-show="searchMode == 'products'">

            <md-chips ng-model="searchWords"
                      placeholder="جست و جو کنید ..."
                      md-separator-keys="keys" >
                <!--md-autocomplete-snap-->
                <!--<md-autocomplete md-search-text="searchText"
                                 md-min-length="0"
                                 md-items="item in searchAC(searchText)"
                                 md-no-cache="true"
                                 placeholder="جست و جو کنید">
                    <span md-highlight-text="searchText">{{item}}</span>
                </md-autocomplete>-->

            </md-chips>

        </div>
        <div ng-show="searchMode == 'vitrins'">
            <input type="search" placeholder="جست و جو در ویترین ها" ng-model="vitrinInput" class="vitrinInput" />
            <div class="search-button">

                <i class="fa fa-search">

                </i>

            </div>

        </div>
    </div>


</div>