@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
body,
input,
select,
textarea,
button {
  font-family: 'IRANSansWeb';
}
.rtl {
  direction: rtl;
  text-align: right;
}
#account {
  text-align: right;
  direction: rtl;
}
#account h1 {
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
}
#account ul {
  padding: 0 20px;
}
#account ul li {
  font-size: 12px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 2px solid #eee;
}
#account ul li.logout {
  background: #d35353;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid red;
  text-align: center;
}
#account ul li:last-child {
  border-bottom: none;
}
#auth {
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.8);
  color: #444;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
#auth .error {
  background: #d35353;
  color: #fff;
  border: 1px solid red;
  margin: 0 10px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}
#auth .inner {
  background: rgba(242, 237, 224, 0.95);
  width: calc(100% - 60px);
  border-radius: 5px;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}
#auth .inner:after {
  clear: both;
  content: ' ';
  display: block;
}
#auth .brand {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 30px;
}
#auth form {
  text-align: right;
}
#auth form h2 {
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #07786e;
  border-bottom: 1px solid #07baab;
}
#auth form h2 i {
  vertical-align: middle;
}
#auth form button.login,
#auth form button.register,
#auth form .links {
  margin: 10px;
  line-height: 30px;
  height: 30px;
  font-weight: bold;
}
#auth form button.login,
#auth form button.register {
  float: right;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  background: #07baab;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#auth form button.login i,
#auth form button.register i {
  color: #fff;
  vertical-align: middle;
}
#auth form button.register {
  background: #07baab;
}
#auth form .links {
  color: #07baab;
  float: left;
}
#auth form .links a {
  cursor: pointer;
}
#auth .input-group {
  margin: 10px;
}
#auth .input-group:after {
  display: block;
  clear: both;
  content: ' ';
}
#auth .input-group i,
#auth .input-group input {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
}
#auth .input-group input {
  border-left: none;
  padding: 0 10px;
  direction: ltr;
  border-radius: 0 5px 5px 0;
}
#auth .input-group input.ng-invalid {
  /*box-shadow:0 0 1px red inset;*/
}
#auth .input-group i {
  border-radius: 5px 0 0 5px;
  text-align: center;
  border-right: none;
  background: #07baab;
  color: #fff;
  font-size: 16px;
}
#auth .input-group input {
  width: calc(100% - 40px);
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fff;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
}
.clearfix {
  clear: both;
}
a,
a:active,
a:hover {
  cursor: pointer;
}
header {
  display: none;
  height: 30px;
  background: #f2ede0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border: none !important;
}
body.iOS header {
  display: block !important;
}
body.iOS #home {
  padding: 30px 0;
}
#vitrin .v-block {
  max-width: 400px;
  width: calc(100% - 30px);
  margin: 15px auto;
  background-color: #f2ede0;
}
#vitrin .products {
  text-align: center;
}
#vitrin .products .product-column {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#vitrin .products .product {
  position: relative;
  vertical-align: top;
}
#vitrin .products .product .inner {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2ede0;
}
#vitrin .products .product img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
}
#vitrin .products .product .info {
  text-align: center;
  line-height: 18px;
}
#vitrin .products .product .info h3 {
  font-weight: bold;
}
#vitrin .products .product .info p {
  direction: rtl;
  font-size: 11px;
}
#home {
  text-align: center;
  padding-bottom: 60px !important;
}
#home .v-column {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#home .v-block {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
}
#home .v-block.touchstart {
  background-color: #f2ede0;
}
#home .v-block.transparent {
  opacity: 0.1;
}
#home .v-block .inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px !important;
  overflow: hidden;
  position: relative;
}
#home .v-block .inner .icon {
  position: absolute;
  border-radius: 5px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  transition: all ease 0.3s;
  color: #07baab;
  border: 1px solid #07baab;
  font-size: 25px;
  background: rgba(128, 128, 128, 0.6);
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.5);
}
#home .v-block .inner .icon i {
  vertical-align: middle;
}
#home .v-block .inner .icon.active {
  transform: scale(1.2);
  z-index: 22;
  background-color: #07baab;
  color: #333;
  transition: all ease-in-out 0.1s;
}
#home .v-block .inner .icon.active.icon-1 {
  margin: 0 0 7px 0;
}
#home .v-block .inner .icon.active.icon-2 {
  margin: 0 7px 7px 0;
}
#home .v-block .inner .icon.active.icon-3 {
  background-color: transparent;
  background-image: url(../img/icon_on.png) !important;
  margin: 0 7px 0 0;
}
#home .v-block .inner .icon.show {
  opacity: 1;
  transform: scale(1);
}
#home .v-block .inner .icon.show.icon-1 {
  bottom: 65px;
  right: 5px;
}
#home .v-block .inner .icon.show.icon-2 {
  bottom: 65px;
  right: 60px;
}
#home .v-block .inner .icon.show.icon-3 {
  bottom: 10px;
  right: 60px;
  background-image: url(../img/icon_off.png);
  background-size: 100%;
  border: none !important;
}
#home .v-block .inner .more {
  width: 40px;
  height: 40px;
  background: rgba(128, 128, 128, 0.4);
  z-index: 20;
  position: absolute;
  bottom: 10px;
  right: 10px;
  touch-action: none;
  border-radius: 5px;
}
#home .v-block .inner .more:hover:after {
  border: 5px solid #fff;
}
#home .v-block .inner .more:after {
  width: 10px;
  height: 10px;
  content: ' ';
  display: block;
  border: 5px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#home .v-block img {
  width: 100%;
}
#home .v-block.v-h-1 .inner {
  height: 300px;
}
#home .v-block.v-h-2 .inner {
  height: 600px;
}
#home .v-block.v-h-3 .inner {
  height: 900px;
}
footer {
  background: #f2ede0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(1, 181, 169, 0.2);
  z-index: 9999;
}
footer ul li {
  width: 25%;
  text-align: center;
  float: left;
  vertical-align: bottom;
  color: #01b5a9;
  font-size: 17px;
}
footer ul li .logo {
  background-image: url(../img/icon_off.png);
  background-size: cover;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
footer ul li.active {
  opacity: 1;
}
footer ul li.active i {
  background: #07baab;
  color: #fff;
}
footer ul li.active .logo {
  background-image: url(../img/icon_on.png);
}
footer ul li img {
  width: 30px;
}
footer ul li img,
footer ul li i {
  vertical-align: top;
}
footer ul li i {
  border: 1px solid #07baab;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 5px;
}
footer ul li i:before {
  vertical-align: top;
}