@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
body,
input,
select,
textarea,
button {
  font-family: 'IRANSansWeb';
}
.rtl {
  direction: rtl;
  text-align: right;
}
#account {
  text-align: right;
  direction: rtl;
}
#account h1 {
  font-size: 16px;
  padding: 20px;
  font-weight: bold;
}
#account ul {
  padding: 0 20px;
}
#account ul li {
  font-size: 12px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 2px solid #eee;
}
#account ul li.logout {
  background: #07baab;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
#account ul li:last-child {
  border-bottom: none;
}
#search-page .toggle-box {
  margin: 10px;
  background: #f2ede0;
  border-radius: 5px;
  border-right: 1px solid #ccc;
  overflow: hidden;
}
#search-page .toggle-box a {
  width: 50%;
  float: left;
  text-align: center;
  color: #777;
  font-weight: bold;
  box-sizing: border-box;
  line-height: 40px;
}
#search-page .toggle-box a.active {
  background: #ddd;
  color: #07baab;
}
#search-page .toggle-box a:first-child {
  border-right: 1px solid #ccc;
}
#search-page .search-box {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
#search-page .search-box input {
  height: 40px;
  width: 100%;
  border: 1px solid #d5d0c2;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
  outline: none;
}
#search-page .search-box .search-button {
  color: #07baab;
  position: absolute;
  top: 0;
  left: 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  font-size: 16px;
}
#search-page .search-box .search-button i {
  vertical-align: middle;
}
#chat-page {
  direction: rtl;
  text-align: right;
}
#chat-page h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
#chat-page .toggle-box {
  margin: 10px;
  background: #f2ede0;
  border-radius: 5px;
  border-right: 1px solid #ccc;
  overflow: hidden;
}
#chat-page .toggle-box a {
  width: 50%;
  float: left;
  text-align: center;
  color: #777;
  font-weight: bold;
  box-sizing: border-box;
  line-height: 40px;
}
#chat-page .toggle-box a.active {
  background: #ddd;
  color: #07baab;
}
#chat-page .toggle-box a:first-child {
  border-right: 1px solid #ccc;
}
#chat-page #discussion {
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  font-weight: normal;
  background: #f2ede0;
  min-height: calc(100vh - 187px);
  border-radius: 5px;
}
#chat-page #discussion .sender,
#chat-page #discussion .reciver {
  background: rgba(255, 255, 255, 0.9);
  text-align: start;
}
#chat-page #discussion .date {
  font-size: 11px;
  padding: 0 10px;
}
#chat-page #discussion .date:before {
  content: ' ';
  display: inline-block;
}
#chat-page #discussion .sender {
  position: relative;
  margin-left: 30%;
  background: #effdde;
  /*float: right;*/
}
#chat-page #discussion .sender:after {
  bottom: 5px;
}
#chat-page #discussion .sender.sent:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 100;
  position: absolute;
  left: 5px;
  font-size: 10px;
  color: #777;
  line-height: 20px;
}
#chat-page #discussion .sender.delivered:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 100;
  position: absolute;
  left: 5px;
  font-size: 10px;
  color: #777;
  line-height: 20px;
}
#chat-page #discussion .sender.seen:after {
  content: "\f00c \f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: 100;
  position: absolute;
  left: 5px;
  font-size: 10px;
  color: #777777;
  line-height: 20px;
}
#chat-page #discussion .reciver {
  list-style-type: none;
  margin-right: 30%;
}
#chat-page #discussion li {
  display: block;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
  line-height: 20px;
  padding-left: 30px;
  border-radius: 5px;
  min-height: 20px;
  height: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  overflow: hidden;
}
#chat-page #discussion li a {
  display: block;
  cursor: pointer;
  outline: none;
}
#chat-page #discussion li img.attach {
  display: block;
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 10px;
}
#chat-page #discussion li label.attach-filename {
  font-family: Tahoma, 'Segoe UI', Arial;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  width: 90%;
}
#chat-page ul.contacts {
  margin: 0 10px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #f2ede0;
  min-height: calc(100vh - 163px);
  border-radius: 5px;
}
#chat-page ul.contacts li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
#chat-page ul.contacts li img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  float: right;
  border-radius: 5px;
}
#chat-page ul.contacts li .info {
  float: right;
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 30px;
  vertical-align: top;
}
#chat-page ul.contacts li .info input {
  border: none;
  width: 100%;
  background: transparent;
}
#chat-page ul.contacts li .info .preview,
#chat-page ul.contacts li .info .date {
  display: none;
}
#chat-page .search-box {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
#chat-page .search-box input {
  height: 40px;
  width: 100%;
  border: 1px solid #d5d0c2;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
  outline: none;
}
#chat-page .search-box .search-button {
  color: #07baab;
  position: absolute;
  top: 0;
  left: 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  font-size: 16px;
}
#chat-page .search-box .search-button i {
  vertical-align: middle;
}
#chat-page .input-box {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
}
#chat-page .input-box textarea {
  height: 40px;
  width: calc(100% - 90px);
  margin: 0 auto;
  border: 1px solid #d5d0c2;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  display: block;
  resize: none;
  font-size: 11px;
  /*&.line-2{
                height:80px;
                margin-top:5px;
            }
                &.line-3{
                height:120px;
                  margin-top:5px;
            }*/
}
#chat-page .input-box .send-button,
#chat-page .input-box .attach-button {
  color: #07baab;
  position: absolute;
  bottom: 0;
  right: 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
}
#chat-page .input-box .send-button i,
#chat-page .input-box .attach-button i {
  vertical-align: middle;
}
#chat-page .input-box .attach-button {
  right: unset;
  left: 10px;
}
.clearfix {
  clear: both;
  display: block;
  content: ' ';
}
#product-page {
  padding-top: 40px;
}
#product-page .buttons {
  padding: 10px 20px;
  background: #f2ede0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
#product-page .buttons a {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  color: #07baab;
  border: 1px solid #07baab;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  box-sizing: border-box;
  float: right;
}
#product-page .buttons a.back {
  float: left;
  background: #07baab;
  color: #fff;
}
#product-page .buttons a.like {
  background-image: url(../img/icon_off.png);
  background-size: 100%;
}
.product-page {
  direction: rtl;
  text-align: right;
  padding: 20px;
}
.product-page h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.product-page h3 {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}
.product-page .description {
  padding: 10px;
  line-height: 24px;
}
.product-page .details {
  padding: 10px;
}
.product-page .details table {
  width: 100%;
}
.product-page .images {
  padding: 10px;
  padding-bottom: 40px;
}
.product-page .images img {
  width: 100%;
}
#auth {
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.8);
  color: #444;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
#auth .error {
  background: #d35353;
  color: #fff;
  border: 1px solid red;
  margin: 0 10px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}
#auth .inner {
  background: rgba(242, 237, 224, 0.95);
  width: calc(100% - 60px);
  border-radius: 5px;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
}
#auth .inner:after {
  clear: both;
  content: ' ';
  display: block;
}
#auth .brand {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 30px;
}
#auth form {
  text-align: right;
}
#auth form h2 {
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  border-bottom: 1px solid #777;
}
#auth form h2 i {
  vertical-align: middle;
}
#auth form button.login,
#auth form button.register,
#auth form .links {
  margin: 10px;
  line-height: 30px;
  height: 30px;
  font-weight: bold;
}
#auth form button.login,
#auth form button.register {
  float: right;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  background: #07baab;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#auth form button.login i,
#auth form button.register i {
  color: #fff;
  vertical-align: middle;
}
#auth form button.register {
  background: #07baab;
}
#auth form .links {
  color: #777;
  float: left;
}
#auth form .links a {
  cursor: pointer;
}
#auth .input-group {
  margin: 10px;
}
#auth .input-group:after {
  display: block;
  clear: both;
  content: ' ';
}
#auth .input-group i,
#auth .input-group input {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
}
#auth .input-group input {
  border-left: none;
  padding: 0 10px;
  direction: ltr;
  border-radius: 0 5px 5px 0;
}
#auth .input-group input.ng-invalid {
  /*box-shadow:0 0 1px red inset;*/
}
#auth .input-group i {
  border-radius: 5px 0 0 5px;
  text-align: center;
  border-right: none;
  background: #07baab;
  color: #fff;
  font-size: 16px;
}
#auth .input-group input {
  width: calc(100% - 40px);
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fff;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
}
.clearfix {
  clear: both;
}
a,
a:active,
a:hover {
  cursor: pointer;
}
header {
  display: none;
  height: 30px;
  background: #f2ede0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border: none !important;
}
body.iOS header {
  display: block !important;
}
body.iOS #home {
  padding: 30px 0;
}
#vitrin .v-block {
  max-width: 400px;
  width: calc(100% - 30px);
  margin: 15px auto;
  background-color: #f2ede0;
}
#vitrin .products {
  text-align: center;
}
#vitrin .products .product-column {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#vitrin .products .product {
  position: relative;
  vertical-align: top;
}
#vitrin .products .product .inner {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f2ede0;
}
#vitrin .products .product img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
}
#vitrin .products .product .info {
  text-align: center;
  line-height: 18px;
}
#vitrin .products .product .info h3 {
  font-weight: bold;
}
#vitrin .products .product .info p {
  direction: rtl;
  font-size: 11px;
}
#home {
  text-align: center;
  padding-bottom: 60px !important;
}
#home .v-column {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#home .v-block {
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  transition: all ease-in-out 0.3s;
  border-radius: 5px;
}
#home .v-block.touchstart {
  background-color: #f2ede0;
}
#home .v-block.transparent {
  opacity: 0.1;
}
#home .v-block .inner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px !important;
  overflow: hidden;
  position: relative;
}
#home .v-block .inner .icon {
  position: absolute;
  border-radius: 5px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  transition: all ease 0.3s;
  color: #07baab;
  border: 1px solid #07baab;
  font-size: 25px;
  background: rgba(128, 128, 128, 0.6);
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.5);
}
#home .v-block .inner .icon i {
  vertical-align: middle;
}
#home .v-block .inner .icon.active {
  transform: scale(1.2);
  z-index: 22;
  background-color: #07baab;
  color: #333;
  transition: all ease-in-out 0.1s;
}
#home .v-block .inner .icon.active.icon-1 {
  margin: 0 0 7px 0;
}
#home .v-block .inner .icon.active.icon-2 {
  margin: 0 7px 7px 0;
}
#home .v-block .inner .icon.active.icon-3 {
  background-color: transparent;
  background-image: url(../img/icon_on.png) !important;
  margin: 0 7px 0 0;
}
#home .v-block .inner .icon.show {
  opacity: 1;
  transform: scale(1);
}
#home .v-block .inner .icon.show.icon-1 {
  bottom: 65px;
  right: 5px;
}
#home .v-block .inner .icon.show.icon-2 {
  bottom: 65px;
  right: 60px;
}
#home .v-block .inner .icon.show.icon-3 {
  bottom: 10px;
  right: 60px;
  background-image: url(../img/icon_off.png);
  background-size: 100%;
  border: none !important;
}
#home .v-block .inner .more {
  width: 40px;
  height: 40px;
  background: rgba(128, 128, 128, 0.4);
  z-index: 20;
  position: absolute;
  bottom: 10px;
  right: 10px;
  touch-action: none;
  border-radius: 5px;
}
#home .v-block .inner .more:hover:after {
  border: 5px solid #fff;
}
#home .v-block .inner .more:after {
  width: 10px;
  height: 10px;
  content: ' ';
  display: block;
  border: 5px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#home .v-block img {
  width: 100%;
}
#home .v-block.v-h-1 .inner {
  height: 300px;
}
#home .v-block.v-h-2 .inner {
  height: 600px;
}
#home .v-block.v-h-3 .inner {
  height: 900px;
}
footer {
  background: #f2ede0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(1, 181, 169, 0.2);
  z-index: 9999;
}
footer ul li {
  width: 25%;
  text-align: center;
  float: left;
  vertical-align: bottom;
  color: #01b5a9;
  font-size: 17px;
}
footer ul li .logo {
  background-image: url(../img/icon_off.png);
  background-size: cover;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid #07baab;
  border-radius: 5px;
}
footer ul li.active {
  opacity: 1;
}
footer ul li.active i {
  background: #07baab;
  color: #fff;
}
footer ul li.active .logo {
  background-image: url(../img/icon_on.png);
}
footer ul li img {
  width: 30px;
}
footer ul li img,
footer ul li i {
  vertical-align: top;
}
footer ul li i {
  border: 1px solid #07baab;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 5px;
}
footer ul li i:before {
  vertical-align: top;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}