@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb.eot') format('embedded-opentype'), url('../fonts/IRANSansWeb.ttf') format('truetype'), url('../fonts/IRANSansWeb.woff') format('woff');
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, input, select, textarea, button {
    font-family: 'IRANSansWeb';
}

#auth {
    width: 440px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    color: #444;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 80px;

    .brand {
        width: 200px;
        display: block;
        margin: 0 auto;
        border-bottom: none;
        margin-bottom: 30px;
    }

    form {



        &.ng-hide:not(.ng-hiding) {
        }

        h2 {
            line-height: 40px;
            padding: 0 10px;
            font-size: 16px;
            font-weight: bold;
            color: #777;
            border-bottom: 1px solid #ff6a00;

            i {
                vertical-align: middle;
            }
        }

        button.login, button.register, .links {
            margin: 10px;
            line-height: 30px;
            height: 30px;
            font-weight: bold;
        }


        button.login, button.register {
            float: right;
            border: none;
            padding: 0 15px;
            border-radius: 5px;
            background: #fd7819;
            color: #fff;
            font-weight: bold;
            cursor: pointer;

            i {
                color: #333;
                vertical-align: middle;
            }
        }

        button.register {
            background: #fd7819;
        }

        .links {
            color: #777;
            float: left;

            a {
                cursor: pointer;
            }
        }
    }

    .input-group {
        margin: 10px;

        &:after {
            display: block;
            clear: both;
            content: ' ';
        }

        i, input {
            float: left;
            width: 30px;
            height: 30px;
            vertical-align: top;
            box-sizing: border-box;
            line-height: 30px;
            border: none;
            background: #f1efef;
            border: 1px solid #ccc;
        }

        input {
            border-left: none;
            padding: 0 10px;
            direction: ltr;
            border-radius: 0 5px 5px 0;

            &.ng-invalid {
                border-bottom-color: red;
            }
        }

        i {
            border-radius: 5px 0 0 5px;
            text-align: center;
            border-right: none;
        }

        input {
            width: calc(~"100% - 30px");
        }
    }
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #fff;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

.clearfix {
    clear: both;
}

a, a:active, a:hover {
    cursor: pointer;
}


header {
    display: none;
    height: 30px;
    background: rgba(242, 237, 224, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border: none !important;
}

body.phonegap {
   

}

body.iOS{
     header{
        display:block!important;
    }
         #home {
        padding: 30px 0;
    }
}

#home {
    text-align: center;
    padding-bottom:60px!important;

    .v-column {
        width: 180px;
        display: inline-block;
        vertical-align: top;
    }

    .v-block {
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
        transition: all ease-in-out 0.3s;
        border-radius: 5px;

        &.touchstart {
            background-color: #f2ede0;
        }

        &.transparent {
            opacity: 0.1;
        }

        .inner {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 5px;
            position: relative;

            .icon {
                position: absolute;
                background: rgba(128, 128, 128, 0.6);
                border-radius: 5px;
                display: block;
                width: 45px;
                height: 45px;
                line-height: 45px;
                transition: all ease 0.3s;
                color: #07baab;
                border: 1px solid #07baab;
                font-size: 25px;
                background: rgba(128, 128, 128, 0.6);
                bottom: 0;
                right: 0;
                opacity: 0;
                transform: scale(0.5);

                i {
                    vertical-align: middle;
                }

                &.active {
                    transform: scale(1.2);
                    z-index: 22;
                    background-color: #07baab;
                    color: #333;
                    transition: all ease-in-out 0.1s;
                }

                &.active.icon-1 {
                    margin: 0 0 7px 0;
                }

                &.active.icon-2 {
                    margin: 0 7px 7px 0;
                }

                &.active.icon-3 {
                    background-color: transparent;
                    background-image: url(../img/icon_on.png) !important;
                    margin: 0 7px 0 0;
                }

                &.show {
                    opacity: 1;
                    transform: scale(1);
                }

                &.show.icon-1 {
                    bottom: 65px;
                    right: 5px;
                }

                &.show.icon-2 {
                    bottom: 65px;
                    right: 60px;
                }

                &.show.icon-3 {
                    bottom: 10px;
                    right: 60px;
                    background-image: url(../img/icon_off.png);
                    background-size: 100%;
                    border: none !important;
                }
            }

            .more {
                width: 40px;
                height: 40px;
                background: rgba(128, 128, 128, 0.4);
                z-index: 20;
                position: absolute;
                bottom: 10px;
                right: 10px;
                touch-action: none;
                border-radius: 5px;


                &:hover {
                    &:after {
                        border: 5px solid #fff;
                    }
                }

                &:after {
                    width: 10px;
                    height: 10px;
                    content: ' ';
                    display: block;
                    border: 5px solid #ccc;
                    border-radius: 5px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
        }

        img {
            width: 100%;
        }

        &.v-h-1 .inner {
            height: 300px;
        }

        &.v-h-2 .inner {
            height: 600px;
        }

        &.v-h-3 .inner {
            height: 900px;
        }
    }
}

footer {
    background: rgba(242, 237, 224, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    border-top: 1px solid rgba(1, 181, 169, 0.2);
    z-index: 9999;

    ul {
        li {
            width: 25%;
            text-align: center;
            float: left;
            vertical-align: bottom;
            color: #01b5a9;
            font-size: 17px;


            .logo {
                background-image: url(../img/icon_off.png);
                background-size: cover;
                margin: 0 auto;
                width: 30px;
                height: 30px;
            }

            &.active {
                opacity: 1;

                i {
                    background: #07baab;
                    color: #fff;
                }

                .logo {
                    background-image: url(../img/icon_on.png);
                }
            }

            img {
                width: 30px;
            }

            img, i {
                vertical-align: top;
            }

            i {
                border: 1px solid #07baab;
                display: block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                box-sizing: border-box;
                padding-top: 5px;

                &:before {
                    vertical-align: top;
                }
            }
        }
    }
}
